<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.e6wifi.cmp.business.order.dao.DeliveryOrderDao">
	<select id="getDeliveryOrderPage" resultType="com.e6wifi.cmp.business.order.entity.DeliveryOrderEntity" 
			parameterType="com.e6wifi.cmp.business.order.entity.DeliveryOrderEntity">
		select 
			o.oid, order_no as orderNo, customer_oid, o.delivery_date as deliveryDate, o.create_user_id, o.create_time, u.uid, u.user_name, 
			p.name as customerName, p.linkman as customerLinkman, p.linkman_telphone as customerTelphone, p.fax as customerFax 
		from 
			t_delivery_order o 
			left join t_sys_user u on o.create_user_id=u.uid
			left join t_provider p on o.customer_oid=p.oid
		where 1=1
		<if test="orderNo != null and orderNo != ''">
			and o.order_no like CONCAT('%',#{orderNo},'%')
		</if>
	</select>
	
	
	<select id="getDeliveryOrder" resultType="com.e6wifi.cmp.business.order.entity.DeliveryOrderEntity" 
			parameterType="long">
		select
			o.oid, order_no as orderNo, customer_oid as customerOid, o.delivery_date as deliveryDate,
			p.name as customerName, p.linkman as customerLinkman, p.linkman_telphone as customerTelphone, p.fax as customerFax 
		from 
			t_delivery_order o 
			left join t_provider p on o.customer_oid=p.oid
		where 1=1
		<if test="oid != null and oid != ''">
			and o.oid = #{oid}
		</if>
	</select>
	
	
	<insert id="insertOrder" parameterType="com.e6wifi.cmp.business.order.entity.DeliveryOrderEntity" useGeneratedKeys="true" keyProperty="oid">
	  insert into t_delivery_order(order_no, customer_oid, delivery_date, create_user_id, create_time)
	  values(#{orderNo}, #{customerOid}, #{deliveryDate}, #{createUserId}, #{createTime})
	</insert>
	
	<insert id="insertOrderDt" parameterType="java.util.List">
		insert into t_delivery_order_dt(order_oid, product_oid, num) values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.orderOid},#{item.productOid},#{item.num})
		</foreach>
	</insert>
</mapper>