<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.e6wifi.cmp.business.provider.dao.ProviderDao">
	<select id="getProviderPage" resultType="com.e6wifi.cmp.business.provider.entity.ProviderEntity" 
			parameterType="com.e6wifi.cmp.business.provider.entity.ProviderEntity">
		select oid, name, address, linkman, linkman_telphone as linkmanTelphone, fax from t_provider
		where 1=1
		<if test="name != null and name != ''">
			and o.name like CONCAT('%',#{orderNo},'%')
		</if>
	</select>
	
	<select id="getProviderProductPage" resultType="com.e6wifi.cmp.business.product.entity.ProductEntity" 
			parameterType="com.e6wifi.cmp.business.provider.entity.ProviderEntity">
		select d.oid, d.p_name as pName, type, outline, pack_type as packType, description, unit_type as unitType, price, add_date as addDate from t_provider p left join t_product d on p.oid=d.provider_oid
		where 1=1
		<if test="oid != null and oid != 0">
			and p.oid=#{oid}
		</if>
	</select>
	
	<select id="getProviderProductList" resultType="com.e6wifi.cmp.business.product.entity.ProductEntity" 
			parameterType="com.e6wifi.cmp.business.provider.entity.ProviderEntity">
		select d.oid, d.p_name as pName, type, outline, pack_type as packType, description, unit_type as unitType, price, add_date as addDate from t_provider p left join t_product d on p.oid=d.provider_oid
		where 1=1
		<if test="oid != null and oid != 0">
			and p.oid=#{oid}
		</if>
	</select>
	
	<select id="getProviderList" resultType="com.e6wifi.cmp.business.provider.entity.ProviderEntity" 
			parameterType="com.e6wifi.cmp.business.provider.entity.ProviderEntity">
		select oid, name, address, linkman, linkman_telphone as linkmanTelphone, fax from t_provider
	</select>
</mapper>